[submodule "lib/CommandParser"]
	path = lib/CommandParser
	url = https://github.com/FogozIV/Arduino-CommandParser
[submodule "lib/flasherx"]
	path = lib/flasherx
	url = git@github.com:FogozIV/FlasherX-Ethernet_Support.git
[submodule "lib/PacketHandling"]
	path = lib/PacketHandling
	url = git@github.com:FogozIV/PacketHandling.git
[submodule "lib/CurveLibrary"]
	path = lib/CurveLibrary
	url = git@github.com:FogozIV/CurveLibrary.git
[submodule "lib/EurobotCoreMath"]
	path = lib/EurobotCoreMath
	url = git@github.com:FogozIV/EurobotCoreMath.git
[submodule "lib/tlsf"]
	path = lib/tlsf
	url = git@github.com:FogozIV/tlsf-pio.git
[submodule "teensy-core"]
	path = teensy-core
	url = git@github.com:FogozIV/teensy-core.git
[submodule "cores/teensy-core"]
	path = cores/teensy-core
	url = git@github.com:FogozIV/teensy-core.git
